[Desktop Entry]
Name=MyScript
GenericName=A descriptive name
Comment=Some description about your script
Exec=/home/amurdaca/.kem.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
